.cache/**
.vs/
/add/inc/glm
Debug/
Release/
enc_temp_folder/
/*.zip
*.iobj
*.ipdb
*.vcxproj.user
*.pdb
*.ilk
*.cmake
*.o
*.d
**/.DS_Store
**/*.log
bin/*.dll
bin/*.lnk
bin/*.exe
bin/*.dSYM/**
bin/data/cache/**
bin/framework2D
build/**
